In [53]:
import random
import pandas as pd
import numpy as np

In [31]:
face_cards = ['Jack', 'Queen', 'King', 'Ace']
print(f'the face cards are {face_cards}')
full_deck = []

the face cards are ['Jack', 'Queen', 'King', 'Ace']

In [32]:
number_cards = list(range(2,11))
spade_cards = []
for card_values in number_cards:
    spade_cards.append(f'{card_values} of Spade')
spade_cards
for faces in face_cards:
    spade_cards.append(f'{faces} of Spade')
full_deck.append(spade_cards)

In [33]:
number_cards = list(range(2,11))
heart_cards = []
for card_values in number_cards:
    heart_cards.append(f'{card_values} of Hearts')
spade_cards
for faces in face_cards:
    heart_cards.append(f'{faces} of Hearts')
full_deck.append(heart_cards)

In [34]:
number_cards = list(range(2,11))
club_cards = []
for card_values in number_cards:
    club_cards.append(f'{card_values} of Clubs')
for faces in face_cards:
    club_cards.append(f'{faces} of Clubs')
full_deck.append(club_cards)

In [35]:
number_cards = list(range(2,11))
diamonds_cards = []
for card_values in number_cards:
    diamonds_cards.append(f'{card_values} of Diamonds')
for faces in face_cards:
    diamonds_cards.append(f'{faces} of Diamonds')
full_deck.append(diamonds_cards)

In [73]:
df = pd.DataFrame(full_deck)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2 of Spade,3 of Spade,4 of Spade,5 of Spade,6 of Spade,7 of Spade,8 of Spade,9 of Spade,10 of Spade,Jack of Spade,Queen of Spade,King of Spade,Ace of Spade
1,2 of Hearts,3 of Hearts,4 of Hearts,5 of Hearts,6 of Hearts,7 of Hearts,8 of Hearts,9 of Hearts,10 of Hearts,Jack of Hearts,Queen of Hearts,King of Hearts,Ace of Hearts
2,2 of Clubs,3 of Clubs,4 of Clubs,5 of Clubs,6 of Clubs,7 of Clubs,8 of Clubs,9 of Clubs,10 of Clubs,Jack of Clubs,Queen of Clubs,King of Clubs,Ace of Clubs
3,2 of Diamonds,3 of Diamonds,4 of Diamonds,5 of Diamonds,6 of Diamonds,7 of Diamonds,8 of Diamonds,9 of Diamonds,10 of Diamonds,Jack of Diamonds,Queen of Diamonds,King of Diamonds,Ace of Diamonds

4

In [100]:
def random_card(df):
    import random
    x = random.randint(0,3)
    y = random.randint(0,12)
    
    print(df.iloc[x,y])

In [378]:
random_card(df)

9 of Spade